unc-cart {
    .category {
        padding-bottom: 1rem;

        .name {
            padding: 1rem;
            background-color: #EFEFEF;
        }
    }

    .items {
        border-collapse: collapse;
        padding: 1rem 0;
        width: 100%;

        img {
            max-width: 3rem;
        }

        th {
            text-transform: uppercase;
            padding: .8rem 0;
            font-size: 0.75rem;
            vertical-align: top;

            .sub {
                text-transform: none;
                color: #999;
            }
        }

        td {
            text-align: center;
            padding: 0.5rem 0;
            border-top: 1px solid #ccc;
        }

        .item {
            .title {
                width: 180px;
                text-transform: uppercase;
            }

            .has-error {
                border-color: #d9534f;

            }
            .error {
                color: #d9534f;
                max-width: 120px;
                margin: 0 auto;

                span {
                    font-size: 0.7rem;
                }
            }

            input {
                padding: 0.45rem;
            }
        }
    }
}