<div>
    <div class="category" flex ng-repeat="(category, value) in vm.items 
        | orderBy: 'category' | groupBy: 'category'">
        <div class="name" flex>{{ category }} ({{ value.length }})</div>
        <table class="items">
            <thead>
                <tr>
                    <th>image </th>
                    <th>name </th>
                    <th>unit cost </th>
                    <th>pack size <div class="sub">No of units</div></th>
                    <th>units in carton </th>
                    <th>no. of cartons </th>
                    <th>value </th>
                    <th>actions </th>
                </tr>
            </thead>
            <tbody>
                <tr class="item" ng-repeat="item in value" ng-form="itemForm">
                    <td class="thumnb"><img ng-src="{{ item.imageUrl }}"></td>
                    <td class="title">{{ item.title }}</td>
                    <td>{{ item.unitCost | currency }}</td>
                    <td>{{ item.packSize }}</td>
                    <td>{{ item.unitsInCartons }}</td>
                    <td>
                        <input type="number" name="noOfCartons" ng-model="item.noOfCartons" ng-change="vm.itemChanged()" 
                            step="1" min="1" max="100"
                            ng-class="{ 'has-error': itemForm.noOfCartons.$touched && itemForm.noOfCartons.$invalid }"
                            required>

                        <div class="error" ng-messages="itemForm.noOfCartons.$error" ng-if="itemForm.noOfCartons.$touched">
                            <span ng-message="min">Value must be greater than or equal to 1</span>
                            <span ng-message="max">Value must be less than or equal to 100</span>
                            <span ng-message="required">required</span>
                        </div>
                    </td>
                    <td>{{ item.unitCost * item.unitsInCartons * (item.noOfCartons || 0) | currency }}</td>
                    <td><i class="fa fa-times" ng-click="vm.removeItem(item)" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 ng-if="vm.items.length < 1" layout layout-align="center center">
        List is empty.
    </h3>
</div>