<div layout="row">
    <div class="tile">
        <div class="label">
            total products
        </div>
    <div class="value">{{ vm.count }}</div>
    </div>
    <div class="tile cost">
        <div class="label">total cost</div>
        <div class="value">{{ vm.amount | currency }}</div>
    </div>
</div>