
.tile {
    margin: 20px 0 20px 20px;

        &.cost {
    border-left: 1px #fff solid;
    padding-left: 15px;
}

    .label {
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
}

    .value {
        font-size: 2rem;
    }
}

