<div layout="row" layout-align="start stretch" layout-wrap ng-if="vm.products">
    <md-card ng-repeat="product in vm.products" flex-xs="100" flex-sm="100">
        <md-card-content>
            <div layout="row" layout-align-sm="center center">
                <div class="item" ng-repeat="item in product.items" ng-click="vm.addItem(item)" title="Add item" flex>
                    <div class="thumb">
                        <img ng-src="{{ item.imageUrl }}">
                    </div>
                    <div class="title">
                        {{ item.title }}
                    </div>
                    <div class="price" layout="column" layout-align="end end">
                        <div class="value">${{ item.unitCost }}</div>
                        <div class="unit">per unit</div>
                    </div>
                    <div class="package">
                        {{ item.unitsInCartons }} units per carton
                        <div class="package-price">({{ item.unitCost * item.unitsInCartons | currency }})</div>
                    </div>
                </div>
            </div>
        </md-card-content>
        <div ng-if="vm.isShowFooter(product)" class="footer" layout="row">
            <div flex>
                <div class="title">{{ product.items.length }} items</div>
                <div class="sub">sells well together<super>*</super></div>
            </div>
            <div flex>
                <div class="title">{{ product.recommendation.currentLevel }}%</div>
                <div class="sub">recommended<super>*</super></div>
            </div>
        </div>
        <md-button class="md-fab md-mini md-primary add" ng-click="vm.addProductItems(product)" aria-label="Add item" title="Add items">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </md-button>
    </md-card>
</div>