unc-product {
    md-card {
        position: relative;

        md-card-content {
            padding: 10px 10px 0 10px;
        }

        .add {
            position: absolute;
            top: 0;
            right: 0;
        }

        .footer {
            background-color: #EDFAFA;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;

            .title {
                color: #4BA7A9;
                font-size: 1rem;
                font-weight: 700;
            }

            .sub {
                font-size: .7rem;
            }
        }
    }

    .item {
        margin: 20px;

        img {
        height: 100%;
        width: 100%;
        max-width: 200px;
        max-height: 200px;
        }

        .title {
        text-transform: uppercase;
        }

        .price {

        .value {
            font-weight: 500;
            font-size: 1.4rem;
        }

        .unit {
            font-size: 0.8rem;
            color: #999;
        }
        }

        .package {
        font-size: 0.8rem;
        color: #999;
        }
    }
}