<md-toolbar>
  <unc-header></unc-header>
</md-toolbar>
<div flex layout="row" layout-align="center none">
  <div flex-gt-md=80 flex=100>
    <div class="view-toggle" layout layout-align="end end">
      <a ui-sref="cart" ui-sref-active="active"> <i class="fa fa-list-ul" aria-hidden="true"></i></a>
      <a ui-sref="home" ui-sref-active="active"><i class="fa fa-th" aria-hidden="true"></i></a>
    </div>
    <div ui-view></div>
  </div>
</div>