@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,900,900i');

$primary: #4BA7A9;

body {
  font-family: Roboto, sans-serif;
  background-color: #FAFAFA;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.view-toggle {
  font-size: 2rem;
  a {
    padding: 0.5rem;
    color: #BBBCBC;

    &.active {
      color: $primary;
    }
  }
}